@import 'normalize';
@import 'chosen';
@import 'mixins';
@import "foundation/components/global";

/* Colors and type */
$body-bg: #fafafa;
$body-font-color: #000;
$body-font-family: "Open Sans", sans-serif;
$header-font-color: #000;
$primary-color: darken(#E99835, 5%);
$secondary-color: #008CBA;

$label-bg-color: lighten(#FF1F00, 10%);
$site-header-bg-color: #333;

/* Misc */
$table-head-padding: rem-calc(10 16 9);
$table-row-padding: rem-calc(12 16);

$row-width: rem-calc(1250);
$column-gutter: rem-calc(30);

$padding-base: rem-calc(16);

@import "foundation/components/grid";
@import "foundation/components/block-grid";
@import "foundation/components/visibility";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/button-groups";
@import "foundation/components/forms";
@import "foundation/components/labels";
@import "foundation/components/tables";

/* General styles */
body {

    h1, h2, h3, h4, h5, h6 {
        font-weight: 800;
    }
}

/* Header and menu */
@import "header";

/* Content */
.container {
    @include grid-row();
}
#content {
    @include grid-column(12);
    @media #{$large-up} { @include grid-column(8); }

    margin-top: rem-calc(16);
}

/* Front page */
.home {
    .introduction {
        position: relative;
        @extend .card;
    }
    #content {
        .introduction {
            padding-left: rem-calc(16);
        }
        .post {
            padding-left: 0;
        }
    }
}

/* Single */
.text-body {
    @extend .card;
    padding-left: $padding-base;
    padding-right: $padding-base;
    margin-bottom: rem-calc(32);
    position: relative;
}
.entry-title {
}
.entry-meta {
    display: inline-block;
    margin-bottom: rem-calc(10);
    font-weight: 300;
    color: #666;
}
.entry-content {
    margin-top: rem-calc(10);
    &.excerpt p {
        margin-bottom: 8px;
    }
}
.entry-category {
    display: inline-block;
    font-weight: 300;
    color: #666;

    .dashicons-tag {
        font-size: rem-calc(18);
        vertical-align: baseline;
        position: relative;
        top: 3px;
        left: -2px;
    }
    .label-category {
        @include label(
            $padding: 2px 7px 7px,
            $text-size: rem-calc(14),
            $bg: $label-bg-color,
            $radius:4px
        );
        margin-bottom: 8px;
    }
}
.wp-post-image {
    margin-top: rem-calc(10);
    @media #{$medium-up} {
        float: left;
        max-width: 250px;
        border-radius: 2px;
        margin-right: 10px;
    }
}
.single .wp-post-image {
    float: none;
    max-width: 100%;
    margin-right: 0;
}

.read-more {
    padding: 10px 16px;
    margin-bottom: 8px;
}
.actions-container {
    text-align: right;
    clear: both;
}
.comments-link {
    float: left;
    padding-top: rem-calc(20);
}
.navigation {
    text-align: center;
}

/* Login */
.page-login {
    #content {
        width: 100%;
        float: left;
    }
    .introduction {
        @include grid-column(12);
    }
    .login-form {
        @include grid-column(12);
        @extend .card;

        @media #{$medium-up} { max-width: 400px; }
        
        .login-remember {
            display: inline-block;
            padding: 6px 0;
        }
        .login-submit {
            display: inline-block;
            float: right;
        }
        input[type=checkbox] {
            margin: 0;
            position: relative;
            top: 2px;
        }
        input[type=submit] {
            @extend .radius;
            margin-bottom: 0;
        }
        p {
            margin: 0;
        }
    }
    @media #{$large-up} {
        .introduction,
        .login-form {
            @include grid-column(6);
        }
    }
}
input[type=submit]{
    @extend .button;
}

/* User search */
.page-user-search {
    #content {
        width: 100%;
        float: left;
    }
    .search-form {
        @include grid-column(12);
        @extend .card;

        table {
            width: 100%;
        }
    }
    .search-about {
        @include grid-column(12);
        @extend .card;
        margin-top: rem-calc(32);
    }
    .meta {
        margin-bottom: rem-calc(16);
        font-style: italic;
        text-align: right;
    }
    .filters {
        .groups {
            @include grid-column(4, $collapse:true);
        }
        .roles {
            @include grid-column(8);
            ul {
                li {
                    margin-left: 4px;
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
/* Profile page */
.profile {
    .page-title {
        @include grid-column(12);
        margin-top: rem-calc(16);
    }
    .profile-details,
    .account-details {
        @include grid-column(12);
        margin-bottom: rem-calc(16);

        @media #{$large-up} {
            @include grid-column(6);
        }
        .inner {
            @extend .card;
            padding-left: rem-calc(16);
            padding-right: rem-calc(16);
        }
    }
    h5 {
        margin-top: rem-calc(8);
    }
    .label-email-type {
        margin-left: 2px;
        @include label($bg:#eee, $padding: 4px 4px 5px, $radius:2px);
        &.mailman {
            color: darken($secondary-color, 10%);
        }
    }
}

/* Mailinglists page */
.page-mailinglists {
    margin-top: rem-calc(18);

    .page-title,
    .search-about,
    .lists-list-wrap,
    .sort-by {
        @include grid-column(12);
    }
    .list-members-wrap {
        @include grid-column(12);
        font-size: rem-calc(16);
    }
    .toptoptop{
        @include grid-column(12);
        margin-top: rem-calc(18);
    }

    @media #{$large-up} {
        .lists-list-wrap {
            @include grid-column(6);
        }
        .list-members-wrap {
            @include grid-column(6);
        }
        .list-members-button {
            display: none;
        }
    }
    .list-manipulation {
        padding-top: rem-calc(10);
        @include clearfix();

        .button-alt {
            margin-bottom: rem-calc(8);
        }
        .sort-buttons {
            @include grid-column(6);
        }
        .search-field {
            @include grid-column(6);
        }
    }
    .lists-list-wrap {
        #mailinglists {
            @include card($padding: 0);
        }
        margin-bottom: rem-calc(18);
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

        }
        li {
            list-style: none;
            padding: 10px;
            display: block;
            position: relative;
            line-height: 1.15;
            border-bottom: 1px solid #eee;
            border-left: 4px solid transparent;

            &:last-child {
                border-bottom: transparent;
            }
            &.selected {
                border-left: 4px solid $secondary-color;
            }

            .button-alt {
                color: #666;
                background-color: transparent;
                &:hover {
                    background-color: #eee;
                }
            }
        }

    }
    .list-members {
        .list-members-title{
            line-height: 1.15;
            display: inline-block;
            margin-right: rem-calc(4);

        }
        ul {
            list-style: none;
            margin: 0;
            @include card($padding: 0);
        }
        li {
            list-style: none;
            font-size: rem-calc(14);
            a {
                padding: 8px 10px;
                display: block;
                position: relative;
                border-bottom: 1px solid #eee;

            }
            &:last-child a {
                border-bottom: transparent;
            }
        }
    }
    .list-num-members {
        font-size: rem-calc(14);
        color: #666;
    }
    .email-aliases,
    .email-mailman {
        position: absolute;
        right: 16px;
        top: 8px;
        .dashicons {
            font-size: rem-calc(18);
            vertical-align: baseline;
            position: relative;
            top: 4px;
            left: -3px;
        }
    }

}

/* Sidebar */
.sidebar {
    @include grid-column(12, $collapse:true);

    @media #{$large-up} {
        @include grid-column(4);
        font-weight: 300;
    }
    font-weight: 500;
    padding-top: rem-calc(16);

    h2 {
        padding-left: rem-calc(16);
        padding-right: rem-calc(16);
        @media #{$large-up} {
            padding-left: rem-calc(0);
            padding-right: rem-calc(0);
        }
    }
    h2,
    h2 a.rsswidget {
        font-size: rem-calc(20);
        margin-bottom: 0;
    }
    h2 a.rsswidget {
        font-weight: normal;
    }
    ul {
        margin-bottom: rem-calc(16);
    }
    .searchform {

        padding-left: rem-calc(16);
        padding-right: rem-calc(16);
        @media #{$large-up} {
            padding-left: rem-calc(0);
            padding-right: rem-calc(0);
        }

        input[type=text] {
            width: 75%;
            margin: 0;
            display: block;
            float: left;
        }
        input[type=submit] {
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 0;
            padding-bottom: 0;
            margin: 0;
            text-align: center;
            line-height: rem-calc(37);
            border: none;
            display: block;
            float: left;
            width: 25%;
        }
    }
    .widgettitle {
        clear: both;

    }
    .rsswidget {
        img {
            display: none;
        }
    }
    a.rsswidget,
    .rss-date,
    li.recentcomments a {
        font-size: rem-calc(14);
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        @media #{$large-up} {
            list-style: disc outside none;

        }
        li {
            display: block;
            padding: rem-calc(16);

            &:nth-child(even) {
                background-color: #f5f5f5;
                @media #{$large-up} {
                    background-color: transparent;
                }
            }

            @media #{$large-up} {
                display: list-item;
                padding: 0;
                margin-left: rem-calc(20);
            }
        }
    }
}

/* Footer */
footer {
    @include grid-row();
    .footer-wrap {
        @include grid-column(12);
    }
    .credits {
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;
        color: #666;
        font-size: rem-calc(12);
    }
}

/* Reusable styles */
.card {
    padding-top: rem-calc(10);
    padding-bottom: rem-calc(10);
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 0px 0px, rgba(0,0,0,0.09804) 0px 1px 2px 0px;
    border-radius: 2px;
}
.card-z1 {
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 0px 0px, rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}
.card-z2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.love {
    color: #faafba;
}

/* Animations */
.fadein {
    animation: fadein 1.5s 1;
}
@keyframes fadein {
    from { opacity: 0; top: -10px; }
    to { opacity: 1; top: 0px; }
}
.dismiss {
    position: absolute;
    display: block;
    top: 0px;
    right: 0px;
    font-size: rem-calc(30);
    color: #ccc;
    padding: 7px;
}
.dismiss-button {
    padding: 0.8em 1.2em;
    @extend .radius;
}

/* Overrides */
.vcard {
    margin: 0;
    border: 0;
    padding: 0;
}

.visible {
    display: block !important;
}
.button-alt {
    @include button($padding: rem-calc(7), $bg: #eee, $radius: rem-calc(5));
    border: 1px solid transparent;
    &:hover {
        background-color: #ccc;
    }
}
.active {
    background-color: $secondary-color;
    color: white;

    &:hover {
        color: white;
        background-color: darken($secondary-color, 10%);
    }
}
